* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #F5DEB3;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.product-item label {
    font-weight: bold;
}

.product-item input {
    width: 40px;
    padding: 5px;
    border: 1px solid #999;
    border-radius: 3px;
    text-align: center;
}

button#submit_order {
    background-color: #4CAF50;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button#submit_order:hover {
    background-color: #45a049;
}

