* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/flower-bg.png);
  background-repeat: repeat;
}

header img {
  width: 250px;
  overflow: hidden;
  margin: 1px;
}

header {
  height: 120px;
  display: flex;
  background-color: #ffffff;
  padding: 5px;
  align-items: center;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}
a :hover{
  cursor: pointer;
}

.logo {
  flex: 1;
}

.navbar {
  min-height: 80px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0 24px;
}
.navbar h1{
  font-family: 'Roboto Slab', serif;
}
.nav-menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 30px;
  font-size: 30px;
}

.link {
  transition: 0.7s ease;
}

.link:hover {
  color: rgb(58, 30, 1);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

.nav-menu .link {
  position: relative;
  text-align: right;
}

.link img {
  width: 30px;
}

.nav-basket .link {
  position: relative;
  text-align: right;
  padding: 3px 5px;
}

.nav-basket .link span {
  background-color: red;
  border-radius: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  top: -5px;
  left: 60%;
  padding: 5px 10px;
}

.index-page {
  z-index: -2;
  flex-direction: column;
  background: rgba(185, 144, 103, 0.2);
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  font-family: 'Roboto Slab', serif;
}
.index-page:before {
  content: "";
  position: absolute;
  background: rgba(185, 144, 103, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.index-page video {
  z-index: -3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  align-items: center;
  display: flex;
  color: rgb(255, 255, 255, 0.9);
  font-family: 'Cinzel', serif;
  font-size: 25px;
  flex-direction: column;
  padding: 80px 30px;
  text-align: center;
}
.content img {
  width: 250px;
}

.username, .password, .name{
  margin: auto;
  text-align: center;
  font-weight: 400;
  padding: 5px 6px;
}

#username, #password, #name  {
  width: 85%;
  height: 35px;
  text-align: center;
  align-content: center;
  border-radius: 5px;
}

.sign-up,
.sign-in {
  width: 70%;
  margin: auto;
  margin-top: 25px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #57cf5b;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  position: inherit;
  transition: background-color 0.3s ease;
  gap: 30px;
  bottom: 10px;
}

.sign-up:hover,
.sign-in:hover {
  background-color: #45a049;
}

.main-content {
  width: 100%;
  height: 850px;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 50px 60px;
  align-content: center;
  display: flex;
  justify-content: center;
}

.mid-section {
  height: 420px;
  width: 400px;
  background-color: rgb(150, 108, 63);
  border-radius: 20px;
  font-family: 'Roboto Slab', serif;
  font-size: larger;
  padding: 30px;
  color: #ffffff;
}
.side-section {
  width: 30%;
}

.category {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 10%;
  background-color: rgb(113, 122, 130);
}

.category li,
a {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
  display: flex;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 20px;
}

.menu-item {
  width: 250px;
  height: 50%;
  border-radius: 20px;
  box-shadow: 1px 0px 19px 2px rgb(115, 115, 115);
  margin: 2rem;
  background-color: #ffffff;
}

.menu-content {
  height: 60%;
  width: 100%;
  background-color: #f5ddc9;
  border-radius: 20px;
}

.menu-content .latte {
  width: 100%;
  height: 200px;
  object-fit: cover;
  top: -2.5rem;
  right: 1rem;
  overflow: hidden;
}

.item-content {
  width: 98.5%;
  min-height: 30%;
  display: flex;
  justify-content: center;
  position: relative;
}

.item-background {
  content: "";
  position: absolute;
  width: 100px;
  height: 35px;
  background-color: aliceblue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -13.6px;
}

.add-to-cart {
  width: 80px;
  height: 30px;
  background-color: rgb(200, 161, 109);
  border-radius: 50%;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-to-cart button,
.cart-bttn {
  background: transparent;
  border: none;
}

.inventory-btn {
  background: transparent;
  border: none;
  font-size: 16px;
}

.item-desc {
  margin-top: 0.5rem;
  z-index: 0;
  position: absolute;
  top: 20%;
  text-align: center;
}
.item-name {
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
}
.item-qty {
  text-align: center;
}
.item-desc .increment,
.decrement {
  border: none;
  width: 25px;
  height: 25px;
  text-align: center;
}

.cart-side {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  transition: right 0.3s ease-in-out;
}
/* Style for cart list */
.cart {
  list-style: none;
  padding: 0;
  margin: 20px;
}

.cart li {
  margin-bottom: 10px;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.cart-side.open {
  right: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cart-content {
  padding: 20px;
}

.cart-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.cart-item {
  margin-bottom: 10px;
  font-size: 16px;
}

.cart-total {
  font-size: 18px;
  margin-top: 20px;
  text-align: right;
}

.close-bttn {
  display: block;
  margin: 25px auto;
  padding: 10px 20px;
  background-color: rgb(225, 132, 3);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-bttn:hover {
  background-color: #d74400;
}


.title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #562b18;
}

.inventory-list {
  display: flex;
  justify-content: center;
  font-size: 18px;
  border-radius: 20px;
}
.inventory-list ul {
  font-style: italic;
}
.inventory-id,
.inventory-name,
.inventory-qty,
.inventory-price,
.inventory-action {
  width: 140px;
  list-style: none;
  max-width: 600px;
  padding: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

.inventory-id,
.inventory-name,
.inventory-qty,
.inventory-price,
.inventory-action,
li {
  font-style: normal;
  flex-direction: column;
  padding: 3px 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inventory-action button {
  font-size: 18px;
  margin: 1px 1px;
  width: 55px;
}

.inventory-action li {
  flex-direction: row;
}

form {
  width: 350px;
  font-size: 18px;
  background-color: rgb(150, 108, 63, 0.9);
  opacity: 0.9;
  padding: 10px 30px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
form div {
  align-items: center;
  display: flex;
  padding: 10px;
  border-radius: 20px;
}
form input {
  width: 120px;
  height: 20px;
  border-radius: 5px;
}
form label {
  color: #ddd;
  text-align: center;
  font-weight: 500;
  padding: 5px;
  width: 100px;
  height: 20px;
}
form button {
  width: 100px;
  font-size: 18px;
  margin: 30px;
  border-radius: 20px;
}
.about-us {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  padding: 70px 80px;
  color: #ffffff;
}

.about-us h1,
h2 {
  font-family: 'Cinzel', serif;
  margin: 30px;
  padding: 20px;
  text-align: center;
}
.contact-page{
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  margin: 10px 10px;
}
.contact-page h1{
  background-color: rgb(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 20px;
}
.contact-us{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.team-member{
  background-color: rgb(255, 255, 255, 0.8);
  width: 380px;
  margin: 10px;
  border-radius: 20px;
  height: 200px;
}
.team-member h2{
  font-family: 'Cinzel', serif;
  margin: 30px;
  padding: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
}
.team-member p{
  font-family: 'Cinzel', serif;
  margin-bottom: 30px;
  text-align: center;
}
.team-member i{
  width: 100px;
}
.soc-med{
  justify-content: center;
  display: flex;
  flex-direction: row;
}

@media (max-width: 895px) {
  .hamburger {
    display: block;
    padding: 10px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0px;
    gap: 0;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .mid-section {
    width: 99%;
    height: 450px;
    background-color: rgb(150, 108, 63, 0.9);
    border-radius: 20px;
    font-family: 'Roboto Slab', serif;
    font-size: larger;
  }
  .side-section{
    width: 1%;
  }
  .contact-page{
    height: 100%;
  }
}